<div class="reset-email-form childre-form">
  <h2 class="form-title">Cambie su contraseña</h2>
  <p class="form-description">Ingrese la dirección de correo con la que se encuentra registrado</p>
  {{ form }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<dialog tabindex="-1" role="dialog" class="dialog">
  <div class="dialog-header">
    <h4 class="dialog-header-title"></h4>
    <button type="button" class="dialog-close">X</button>
  </div>
  <div class="dialog-body">
    <p class="dialog-body-description"></p>
  </div>
</dialog>
