body.path-normas,
body.path-especificaciones {
  .view-filters {
    margin-bottom: 5rem;
  }

  .view-filters-header,
  .view-empty {
    padding: 0 var(--margin-width-container-secondary);

    .title-filter-result {
      color: $color-black-light;
      font-size: 2.5rem;
      font-family: 'RoobertENEL-Bold';

      @include media-query(tabletL) {
        font-size: 2.7rem;
      }
    }

    .content-filter {
      display: flex;
      flex-direction: column;
      gap: 1rem 4rem;
      justify-content: space-between;
      align-items: flex-start;


      @include media-query(tabletL) {
        flex-direction: row;
      }

      .filters-show {
        display: none;
        flex-wrap: wrap;
        gap: 1.5rem;

        @include media-query(tabletL) {
          display: flex;
          opacity: 0;
        }

        &.active {
          opacity: 1;
          display: flex;
        }

        .tag {
          padding: 0.4rem 0.9rem;
          border-radius: 0.3rem;
          min-width: 9rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 1.5rem;

          &-text {
            color: $color-white;
            font-family: 'RoobertENEL-Regular';
            font-size: 1.2rem;
            text-align: center;
            text-align: left;

            @include media-query(tablet) {
              font-size: 1rem;
            }

            @include media-query(desktopLS) {
              font-size: 1.2rem;
            }
          }

          &-button {
            color: $color-white;
            font-size: 1.4rem;
            padding: 0;
            font-family: 'RoobertENEL-Regular';
            border: 0;
            margin: 0;
            text-align: center;
            width: 1.5rem;
            cursor: pointer;
          }


          &:nth-child(odd) {
            background-color: var(--background-list-normas-especifications);
          }

          &:nth-child(even) {
            background-color: var(--background-form-filter-list);
          }
        }

        .clear-filter {
          color: $color-green-light-two;
          font-size: 1.4rem;
          font-family: 'RoobertENEL-Regular';
          padding: .3rem 0;
          text-decoration: underline !important;
          border: 0;
          background-color: transparent;
        }

      }

      .alphabetic-filtert {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 1rem;

        @include media-query(tabletL) {
          margin-top: -2rem;
        }

        label {
          color: #393939;
          font-size: 1.3rem;
          font-family: "RoobertENEL-Bold";
        }

        .select2 {
          width: 8rem !important;

          @include media-query(tablet) {
            width: 10rem !important;
          }

          .selection {
            .select2-selection {
              height: 3.5rem;
              border: 1px solid #707070;
              border-radius: 0;
              color: #707070;
              font-family: 'RoobertENEL-Regular';
              font-size: 1.5rem;
              line-height: 1.5;
              display: block;
              width: 100%;
              display: flex;
              align-items: center;
              padding: 0 2.25rem 0 1.6rem;
              background-color: $color-white;
              background-image: url('../assets/images/arrow-select.svg');
              background-size: 1.1rem 0.7rem;
              background-repeat: no-repeat;
              background-position: right 0.75rem center;

              @include media-query(tablet) {
                height: 4rem;
              }

              &__rendered {
                padding: 0;
              }

              &__arrow {
                display: none;
              }
            }
          }
        }
      }

    }


  }

  .view-empty {
    margin: 3.6rem 0 7rem;

    @include media-query(tabletL) {
      margin: 3.6rem 0 10rem;
    }

    .title-filter-result {
      font-size: 2rem;

      @include media-query(tabletL) {
        font-size: 2.2rem;
      }
    }

  }

  .view-filters-list {
    padding: 0 var(--margin-width-container-secondary);
    margin: 3.6rem 0 3.5rem;

    .list-cards {
      @extend %list-card-style-one;
    }
  }
}