// Slider baner home
.page-node-type-rules-home-content {
  .carousel-inner {
    .field__item {
      .carousel-item {
        .field--name-field-media-image-1 {
          position: relative;

          img {
            min-height: 100vh;

            @include media-query(mobile) {
              min-height: 50rem;
              max-height: 80vh;
            }
          }
        }

        .carousel-caption {
          height: 100%;
          display: flex !important;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding-top: 16vh;
          padding-bottom: 10%;
          left: 3rem;
          right: 3rem;
          z-index: 100;

          @media screen and (min-width: 400px) {
            padding-top: 20vh;
          }

          @include media-query(mobile) {
            justify-content: center;
            padding-top: 8rem;
            left: 8vw;
            right: 8vw;
          }
          
          @include media-query(tablet) {
            padding-top: 6rem;
            left: 15vw;
            right: 15vw;
          }

          @include media-query(tabletL) {
            left: 18vw;
            right: 18vw;
          }

          @include media-query(desktop) {
            left: 23vw;
            right: 23vw;
          }

          @include media-query(desktopLS) {
            left: 25vw;
            right: 25vw;
          }

          .carousel-info {
            position: relative;
            padding-left: 0;

            @include media-query(mobile) {
              padding-left: 8.5rem;
            }

            &::before {
              display: none;
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 4.5rem;
              height: 96%;
              background-color: $color-white;

              @include media-query(mobile) {
                display: block;
              }
            }

            .field--name-banner-title {
              position: relative;
              padding: 1.3rem 0 1.3rem 3rem;
              margin-bottom: 3rem;

              @include media-query(mobile) {
                padding: 0;
                margin-bottom: initial;
              }

              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 1.5rem;
                bottom: 0;
                left: 0;
                width: 1.8rem;
                height: 80%;
                background-color: $color-white;

                @include media-query(mobile) {
                  display: none;
                }
              }
            }

            h1,
            h2,
            h3 {
              text-align: left;
              margin: 0 0 1rem 0;
              font-weight: 600;
              font-size: 2.5rem;

              @include media-query(tabletL) {
                font-size: 3rem;
              }

              @include media-query(desktop) {
                font-size: 3.2rem;
              }

              @include media-query(desktopL) {
                font-size: 4rem;
              }
            }

            &-description {
              font-size: 1.6rem;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .owl-nav {
      display: none;

      @include media-query(tabletL) {
        display: block;
      }

      .owl-prev,
      .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
        box-sizing: border-box;
        width: 4.3rem;
        height: 2.3rem;
        transition: all 300ms;

        span {
          display: none;
        }

        &::after {
          content: "";
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 100%;
          height: 100%;
          transition: all 300ms;
        }

        &:hover::after {
          transform: scale(1.1);
        }
      }

      .owl-prev {
        left: 4vw;

        &::after {
          background-image: url('../assets/images/arrow-left.svg');
        }
      }

      .owl-next {
        right: 4vw;

        &::after {
          background-image: url('../assets/images/arrow-right.svg');
        }
      }
    }

    .owl-dots {
      text-align: center;
      margin: 1rem 0;
      position: absolute;
      left: 50%;
      bottom: 1rem;
      transform: translateX(-50%);

      @media screen and (min-width: 400px) {
        bottom: 4rem;
      }

      @include media-query(mobile) {
        bottom: 0.5rem;
      }

      @include media-query(tablet) {
        bottom: 1rem;
      }

      @include media-query(tabletL) {
        bottom: 3rem;
      }

      @include media-query(desktop) {
        bottom: 4rem;
      }

      .owl-dot {
        background-color: rgba($color: $color-white, $alpha: 40%);
        width: 1.5rem;
        height: 1.4rem;
        border-radius: 50%;
        margin: 0.2rem 0.5rem;

        &.active {
          background-color: $color-white;
        }
      }
    }
  }
}