<div class="carousel-item active bg-overlay">
  {{ content.field_media_image_1 }}
  <div class="carousel-caption d-none d-md-block">
    <div class="carousel-info">
    <div class="title-primary">
    {{ content.banner_title|raw }}
    </div>
    <p class="carousel-info-description paragraph-primary">{{ media.banner_description.value }}</p>
    </div>
  </div>
</div>
